.chat-container {
	margin: 0 auto;
	margin-top: 35px;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 87.5%;
	position: relative;

	.start-date-chat {
		margin: 0 auto;
		background-color: #e0f3fa;
		padding: 7px 10px;
		border-radius: 5px;
	}
	.msg {
		margin-top: 15px;
		width: 50%;
		border-radius: 5px;
		font-size: 1.2rem;
		padding: 7px 10px;
		vertical-align: middle;
		position: relative;
	}
	.sent {
		background-color: #dcf8c6;
		margin-left: auto;
		margin-right: 0;
	}

	.received {
		background-color: #ffffff;
	}

	.sent-time {
		padding: 5px;
		float: right;
		color: #b0b0b0;
		font-size: 0.7rem;
		position: absolute;
		bottom: 0;
		right: 1rem;
	}
	.seen {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 1rem;
	}
}

.chat-input-bar {
	margin-top: 10px;
	background-color: #ededed;
	width: 100%;
	height: calc(12.5% - 45px);
	display: flex;
	align-items: center;
	justify-content: space-around;
	input {
		display: block;
		width: 80%;
		padding: 12.5px 0;
		border-radius: 5px;
		border: 1px solid #ffffff;
	}

	.icon {
		display: block;
		height: 30px;
	}
}

@media screen and (max-width: 600px) {
	.chat-container {
		font-family: Segoe UI;
		background-color: #ece5dd;
		height: 95vh;
		width: 100vw;
		margin: 0;
		.back {
			width: 30px;
			position: absolute;
			top: 70px;
		}
		.msg {
			font-size: 1rem;
			padding: 7px 10px;
			position: relative;
		}
		.sent {
			margin-left: auto;
			left: -10px;
		}

		.received {
			margin-left: 10px;
		}
		padding-bottom: 9px;
	}
	.chat-input-bar {
		margin-top: 0px;
		height: 5vh;
		display: flex;
		input {
			width: 60%;
			padding: 7px 0;
		}
		.icon {
			display: block;
			height: 20px;
		}
	}
}
