.chat-container {
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: end;
	position: relative;
	background-color: #ece5dd;
	padding-bottom: 35px;
	.start-date-chat {
		background-color: #e0f3fa;
		padding: 7px 10px;
		border-radius: 5px;
		margin: 0 auto;
	}
	.msg {
		margin-top: 4px;
		width: 20%;
		border-radius: 5px;
		padding: 7px 10px;
		vertical-align: middle;
		position: relative;
	}
	.sent {
		margin-right: 15%;
		background-color: #dcf8c6;
		margin-left: auto;
	}

	.received {
		margin-left: 15%;
		background-color: #ffffff;
	}

	.sent-time {
		padding: 5px;
		float: right;
		color: #b0b0b0;
		font-size: 0.7rem;
		position: absolute;
		bottom: 0;
		right: 1rem;
	}
	.seen {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 1rem;
	}
}

.chat-input-bar {
	background-color: #ededed;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	input {
		display: block;
		width: 80%;
		padding: 12.5px 0;
		border-radius: 5px;
		border: 1px solid #ffffff;
	}

	.icon {
		display: block;
		height: 30px;
	}
}

@media screen and (max-width: 600px) {
	.chat-container {
		height: 95vh;
		padding-bottom: 35px;
		.msg {
			width: 35%;
			border-radius: 5px;
			padding: 7px 10px;
			vertical-align: middle;
			position: relative;
		}
		.sent {
			margin-right: 10%;
		}
		.received {
			margin-left: 10%;
		}
	}
	.back {
		width: 30px;
		position: absolute;
		top: 70px;
	}
	.chat-input-bar {
		margin-top: 0px;
		height: 5vh;
		display: flex;
		input {
			width: 60%;
			padding: 7px 0;
		}
		.icon {
			display: block;
			height: 25px;
		}
	}
}
