.top-bar {
	background-color: #ededed;
	display: flex;
	align-items: center;
	.left-side {
		display: inline-block;
		width: calc(100% / 3);
		border-right: #a9a9a9 1px solid;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.right-side {
		width: calc(100% / 1.5);
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		span {
			position: absolute;
			bottom: 20px;
		}
	}

	.profile-img {
		border-radius: 50%;
		height: 2rem;
		margin: 7px;
	}
	.icon-container img {
		height: 25px;
		margin-right: 20px;
	}
}
