.top-bar{
    width: 100%;
    background-color: #128c7e;
    height: 45px;

    .left-side{
        width: 40%;
        height: 100%;
        border-right: grey 1px solid;
    
        .profile-img{
            border-radius: 50%;
            height: 2rem;
            margin: 7px 
        }
    }
}