
.container{
  height: 100vh;
  font-family: Helvetica;
  .chat-list-page{
    width: 40%;
    display: inline-block;
  }
  .chat-page{
    width: 60%;
    height: 95vh;
    float: right;
    background-color: #ece5dd;
  }
}


